* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  scrollbar-width: none;
  background: #fff;
  color: #000;
  transition: 0.3s;
}
*::-webkit-scrollbar {
  display: none;
}
*.dark {
  background: #333;
  color: #fff;
}

input {
  width: 0;
  border-radius: 0;
  border: none;
  background-color: #eee;
  transition: 0.1s;
  padding: 3px;
}
input:hover {
  background-color: #bbb;
}
input:active, input:focus {
  background-color: #bbb;
}
input.dark {
  background-color: #999;
}
input.dark:hover {
  background-color: #777;
}
input.dark:active, input.dark:focus {
  background-color: #777;
}

.row {
  width: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.row input {
  margin: 3px 5px 0;
}
.row .texinput {
  flex: 1;
}
.row .tranformtext {
  flex: 100;
  margin: 10px 0;
  border: none;
  height: -moz-fit-content;
  height: fit-content;
}
.row .coordedit {
  flex: 1;
}
.row .button {
  flex: 1;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
.row .button:active {
  background-color: #aaa;
}
.row .button.dark:active {
  background-color: #aaa;
}
.row .widebutton {
  flex: 1;
  text-align: center;
}
.row .widebutton:active {
  background-color: #aaa;
}
.row .widebutton.dark:active {
  background-color: #aaa;
}

canvas {
  position: absolute;
  background: transparent;
}
canvas.dark {
  background: transparent;
  filter: invert(1);
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
body .main {
  display: flex;
  flex-direction: row;
  height: 80vh;
}
body .main .inputs {
  width: 20vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  border-right: 1px #000 solid;
  text-align: center;
}
body .main .inputs.dark {
  border-right: 1px #fff solid;
}
body .main .inputs .verbal {
  border-bottom: 1px solid #000;
  padding: 5px 0;
  position: sticky;
}
body .main .inputs .verbal.dark {
  border-bottom: 1px solid #fff;
}
body .main .inputs .verbal.bottom {
  border-top: 1px solid #000;
  border-bottom: none;
}
body .main .inputs .verbal.bottom.dark {
  border-top: 1px solid #fff;
}
body .main .inputs .verbal.bottom:first-child {
  margin-top: auto;
}
body .main .inputs .transformations {
  overflow-y: scroll;
}
body .main .container {
  width: 80vw;
  height: 80vh;
}
body .main .container canvas {
  width: 80vw;
  height: 80vh;
}
body .footer {
  display: flex;
  height: 20vh;
  width: 100vw;
  border-top: 1px #000 solid;
}
body .footer.dark {
  border-top: 1px #fff solid;
}
body .footer .footertext {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
body .footer .clearout,
body .footer .themechange {
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 100px;
  padding: 5px;
  text-align: center;
  background-color: #eee;
}
body .footer .clearout.dark,
body .footer .themechange.dark {
  background-color: #999;
}
body .footer .clearout:hover,
body .footer .themechange:hover {
  background-color: #bbb;
}
body .footer .clearout:active,
body .footer .themechange:active {
  background-color: #aaa;
}
body .footer .clearout.dark:hover,
body .footer .themechange.dark:hover {
  background-color: #777;
}
body .footer .clearout.dark:active,
body .footer .themechange.dark:active {
  background-color: #aaa;
}
body .footer .themechange {
  bottom: calc(10px + 2em);
}/*# sourceMappingURL=style.css.map */