* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Courier New", Courier, monospace;
}

input {
  width: 0;
  border-radius: 0;
  border: none;
  background-color: #eee;
  transition: 0.1s;
  padding: 3px;
  &:hover {
    background-color: #bbb;
  }
  &:active {
    background-color: #bbb;
  }
  &:focus {
    background-color: #bbb;
    border: none;
  }
}

.row {
  width: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  input {
    margin: 3px 5px 0;
  }

  .texinput {
    flex: 1;
  }

  .coordedit {
    flex: 1;
  }

  .button {
    flex: 0.15;
    &:active {
      background-color: #aaa;
    }
    text-align: center;
  }

  .widebutton {
    flex: 1;
    &:active {
      background-color: #aaa;
    }
    text-align: center;
  }
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .main {
    display: flex;
    flex-direction: row;
    height: 80vh;

    .inputs {
      width: 20vw;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      overflow-x: hidden;
      border-right: 1px black solid;
      text-align: center;

      .verbal {
        border-bottom: 1px solid black;
        padding: 5px 0;
        position: sticky;
      }
    }

    .container {
      width: 80vw;
      height: 80vh;
      canvas {
        width: 85vw;
        height: 80vh;
      }
    }
  }

  .footer {
    display: flex;
    height: 20vh;
    width: 100vw;
    border-top: 1px black solid;
    overflow-y: scroll;
  }
}
