@import "vars.scss";

body .main .inputs {
  width: calc(100vw - $canvas_width);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  border-right: 1px $font-color solid;
  text-align: center;
  justify-content: space-between;

  &.dark {
    border-right: 1px $font-color-dark solid;
  }

  input,
  textarea {
    width: 0;
    border-radius: 0;
    border: none;
    background-color: $input-background;
    transition: 0.1s background-color;
    padding: 3px;

    &:hover {
      background-color: $input-background-hover;
    }
    &:active,
    &:focus {
      background-color: $input-background-active;
    }

    &.dark {
      background-color: $input-background-dark;
      &:hover {
        background-color: $input-background-hover-dark;
      }
      &:active,
      &:focus {
        background-color: $input-background-active-dark;
      }
    }
  }

  textarea {
    height: 95%;
  }

  .verbal {
    border-bottom: 1px solid $font-color;
    padding: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;

    &.high {
      flex: 100;
    }

    &.noflex {
      display: block;
    }

    &.dark {
      border-bottom: 1px solid $font-color-dark;
    }

    &.bottom {
      border-top: 1px solid $font-color;
      border-bottom: none;

      &.dark {
        border-top: 1px solid $font-color-dark;
      }

      &:first-child {
        margin-top: auto;
      }
    }

    .row {
      width: calc(100vw - $canvas_width);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &.high {
        flex: 1;
      }

      input,
      textarea {
        margin: 3px 5px 0;
      }

      .texinput {
        flex: 1;
        resize: none;
      }

      .widebutton {
        flex: 1;
        &:active {
          background-color: $input-background-click;
        }
        &.dark {
          &:active {
            background-color: $input-background-click-dark;
          }
        }
        text-align: center;
      }
    }
  }
}
