$canvas_width: 80vw;
$canvas_height: 80vh;

$background: #fff;
$background-dark: #222;

$font-color: #000;
$font-color-dark: #fff;

$input-background: #eee;
$input-background-dark: #999;

$input-background-hover: #bbb;
$input-background-hover-dark: #777;

$input-background-active: #bbb;
$input-background-active-dark: #777;

$input-background-click: #aaa;
$input-background-click-dark: #aaa;
